 body>.howto-wrap {
  max-width: 1920px;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
 }
 .howto-wrap>.mo-btn{display:flex;justify-content: space-evenly;width:100%;height:5vh;}
 .howto-wrap>.mo-btn>button{background:transparent;border:none;color:#ffffff;font-size:30px;}
 .howto-wrap>.mo-btn>button i{font-size:25px;}
  body>.howto-wrap>.howto{width:65%;height:45vh;margin-top:30px;}
 .howto-wrap>.howto>h4{font-size:60px;border-bottom:1px solid #ffffff;padding-bottom:20px;color:#ffffff;   margin-bottom: 25px;}
 .howto-wrap>.howto strong{color:#fca103;font-size:60px;}
 .howto-wrap>.howto>p{font-size: 40px; color: #ffffff; margin-bottom: 15px; margin-top: 15px;}
 .howto-wrap>.howto span{font-size:40px;font-weight:500;color:#fca103;}
 .howto-wrap>.astro{width: 30%; height: 45vh; }
 .howto-wrap>.astro img{width:100%;height:100%;}