<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../main/style.css" />
    <link rel="stylesheet" href="exp.css" />
    <link rel="stylesheet" href="expmedia.css" />
    <script
      src="https://kit.fontawesome.com/8b02d36c42.js"
      crossorigin="anonymous"
    ></script>
    <title>베스킨라빈스 인트로</title>
  </head>
  <body>
    <div class="howto-wrap color-bg">
      <div class="mo-btn">
        <button><i class="fa-solid fa-rotate-left">메인으로</i></button>
        <button><i class="fa-solid fa-rotate-right">다음으로</i></button>
      </div>
      <div class="howto">
        <h4>How to PC 베스킨라빈스<strong> 31</strong></h4>
        <p>1. 첫 플레이어의 경우 : <span>인원수</span>를 선택하세요</p>
        <p>2. 첫 플레이어의 경우 : <span>마지막 숫자</span>를 정해주세요</p>
        <p>3. 최대 <span>3개</span>의 숫자를 클릭해주세요</p>
        <p>4. <span>같은 숫자, 마지막 숫자</span>를 말하면 탈락합니다.</p>
      </div>
      <div class="astro">
        <img
          class="animate__animated animate__bounce"
          src="exp-page_bg-none.png"
        />
      </div>
    </div>
  </body>
</html>
