@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");
* {
  box-sizing: border-box;
  font-family: "Gugi", cursive;
  color: #fff;
}
html,
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #333d51, #01031f);
  height: 100vh;
}
#cards-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 110px 0 0 0;
  flex-wrap: wrap;
}

#card-back {
  backface-visibility: hidden;
  border-radius: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #fff;
  overflow: hidden;
  background-image: url("../../img/man1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateY(180deg);
}

#card-back1 {
  backface-visibility: hidden;
  border-radius: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #fff;
  overflow: hidden;
  background-image: url("../../img/man1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateY(180deg);
}

#card-back2 {
  backface-visibility: hidden;
  border-radius: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #fff;
  overflow: hidden;
  background-image: url("../../img/man2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateY(180deg);
}
#card-back3 {
  backface-visibility: hidden;
  border-radius: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #fff;
  overflow: hidden;
  background-image: url("../../img/man3.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateY(180deg);
}
#card-back4 {
  backface-visibility: hidden;
  border-radius: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #fff;
  overflow: hidden;
  background-image: url("../../img/man4.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateY(180deg);
}
#card-back5 {
  backface-visibility: hidden;
  border-radius: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #fff;
  overflow: hidden;
  background-image: url("../../img/man5.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateY(180deg);
}
#card-back6 {
  backface-visibility: hidden;
  border-radius: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #fff;
  overflow: hidden;
  background-image: url("../../img/man6.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateY(180deg);
}
#card-back7 {
  backface-visibility: hidden;
  border-radius: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #fff;
  overflow: hidden;
  background-image: url("../../img/man7.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateY(180deg);
}
#card-back8 {
  backface-visibility: hidden;
  border-radius: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #fff;
  overflow: hidden;
  background-image: url("../../img/man8.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateY(180deg);
}
#card-back9 {
  backface-visibility: hidden;
  border-radius: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #fff;
  overflow: hidden;
  background-image: url("../../img/man9.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateY(180deg);
}
#card-back10 {
  backface-visibility: hidden;
  border-radius: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #fff;
  overflow: hidden;
  background-image: url("../../img/man10.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateY(180deg);
}
#card-back11 {
  backface-visibility: hidden;
  border-radius: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #fff;
  overflow: hidden;
  background-image: url("../../img/man11.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateY(180deg);
}
#card-back12 {
  backface-visibility: hidden;
  border-radius: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #fff;
  overflow: hidden;
  background-image: url("../../img/man12.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateY(180deg);
}
#card-back13 {
  backface-visibility: hidden;
  border-radius: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #fff;
  overflow: hidden;
  background-image: url("../../img/plant.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateY(180deg);
}
#card-back14 {
  backface-visibility: hidden;
  border-radius: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #fff;
  overflow: hidden;
  background-image: url("../../img/plant2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateY(180deg);
}
#card-back15 {
  backface-visibility: hidden;
  border-radius: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #fff;
  overflow: hidden;
  background-image: url("../../img/plant3.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateY(180deg);
}

#card-back16 {
  backface-visibility: hidden;
  border-radius: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #fff;
  overflow: hidden;
  background-image: url("../../img/plant4.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateY(180deg);
}
#card-back18 {
  backface-visibility: hidden;
  border-radius: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #fff;
  overflow: hidden;
  background-image: url("../../img/plant5.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateY(180deg);
}
#card-back19 {
  backface-visibility: hidden;
  border-radius: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #fff;
  overflow: hidden;
  background-image: url("../../img/plant6.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateY(180deg);
}
#card-back20 {
  backface-visibility: hidden;
  border-radius: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #fff;
  overflow: hidden;
  background-image: url("../../img/plant7.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateY(180deg);
}

.card-box {
  padding: 5px 2px;
}

#card-box:hover #card {
  transform: rotateY(180deg);
}
#card {
  flex: 1;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.13);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.1);
  border-radius: 15px;
  transform: rotateY(0deg);
  transition: transform 0.2s;
  transform-style: preserve-3d;
}
#card:disabled {
  transform: rotateY(180deg);
}
#card-front {
  display: flex;
  align-content: center;
  justify-content: center;
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../../img/cardImage.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}
#card-back {
  backface-visibility: hidden;
  border-radius: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #fff;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateY(180deg);
}
.card-title {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  text-align: center;
}
#players-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}
#players-Text {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-family: "Gamja Flower", cursive;
}
#players-Text > span {
  text-align: center;
  font-size: 30px;
  font-family: "Gamja Flower", cursive;
  color: orange;
}
#players-winlose-container {
  display: flex;
}
#players-success-container,
#players-loser-container {
  width: 100%;
  display: flex;
  margin: 15px 0;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

#players-success,
#players-Loser {
  width: 100%;
  font-size: 1rem;
  /* background-color: red; */
  text-align: center;
}
#players-Loser {
  color: red;
}
#players-Loser::after {
  /* content: "😵"; */
}
#players-success::after {
  /* content: "😃"; */
}
#allFlip-Button,
#back-Button,
#retry-Button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 100px;
  height: 30px;
  border-radius: 50%;
  margin: 10px;
  font-size: 1.2rem;
  font-family: "Gamja Flower", cursive;
}
.winner-player,
.Loser-player {
  width: 50%;
  margin: 10px 0;
  font-size: 30px;
  display: flex;
  justify-content: center;
}
#header-menu {
  display: flex;
  justify-content: space-between;
}
button:hover {
  cursor: pointer;
  color: blueviolet;
}
@media (max-width: 800px) {
  #cards-container,
  #player-container {
    width: 100%;
    padding: 40px 0 0 0;
  }
  .card-box {
    height: 15vh;
    padding : 5px 2px
  }
  .winner-player,
  .Loser-player {
    width: 100%;
    margin: 10px 0 0 0;
    font-size: 13px;
  }
  #allFlip-Button,
  #back-Button,
  #retry-Button {
    width: 80px;
  }
}
