<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ing</title>
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="ing.css"/>
    <link rel="stylesheet" href="ingmedia.css" />
  </head>
  <body>
    <div class="ingwrap color-bg">
      <div class="ings">
        <div class="ing">
          <p>잠시만 기다려주세요</p>
          <h4>게임이 진행중입니다.</h4>
        </div>
        <div class="astro">
          <img src="ing.png" alt="" />
        </div>
      </div>

      <div class="reset">
        <button type="button">돌아가기</button>
      </div>
    </div>
  </body>
</html>
