<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../main/style.css" />
    <link rel="stylesheet" href="firstplayer.css" />
    <link rel="stylesheet" href="firstmedia.css" />
    <script
      src="https://kit.fontawesome.com/8b02d36c42.js"
      crossorigin="anonymous"
    ></script>
    <title>Firstplayer</title>
  </head>
  <body>
    <div class="firstwrap color-bg">
      <div class="mo-btn">
        <button onclick="main()"><i class="fa-solid fa-rotate-left">메인으로</i></button>
        <button onclick="start()"><i class="fa-solid fa-rotate-right">다음으로</i></button>
      </div>
      <h4>반갑습니다, 당신은 첫 플레이어입니다.</h4>
      <div class="astro">
        <img src="astronut-first.png" alt="" />
      </div>
      <div class="first-number">
        <p>게임에 진행될 숫자를 입력해주세요</p>
        <input type="text" placeholder="숫자입력" id="first-member-input"/>
      </div>
      <div class="first-member">
        <p>인원수를 선택해주세요</p>
        <div class="button">
          <button id="first-member-prev" class="arrow"onclick="countminus()">  
            <i class="fa-solid fa-angle-left"></i>
          </button>   
          <div class="number">2</div>
           <button id="first-member-next" class="arrow" onclick="countplus()">  
            <i class="fa-solid fa-angle-right"></i>
          </button>
        </div>
      </div>
      <div class="startbutton">
        <button type="button" onclick="explain()">설명서</button>
        <button type="button" id="first-start"onclick="start()">스타트</button>
      </div>
    </div>
    <script>
      let member=2;
      let btns=document.querySelector("#first-start")
      btns.addEventListener("click",function(){
        let inputValue=document.getElementById("first-member-input").value
        localStorage.setItem("maxnum",inputValue)
        localStorage.setItem("member",member)
      })  
     
      let memberdiv=document.querySelector(".number")
      
    
      function countplus(){
       if (member===12) return
        member+=1;
        memberdiv.innerText=member
      }
      function countminus(){
       if (member===1) return
       member-=1
       memberdiv.innerText=member
   
      }
    
     localStorage.setItem('num',0)
    </script>
    <script src="../main/main.js"></script>
  </body>
</html>
