<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="../../static/css/WordFindGame/exp.css"
      type="text/css"
    />
    <title>Document</title>
    <script
      type="text/javascript"
      src="../../static/js/WordFindGame/exp.js"
    ></script>
  </head>
  <body>
    <div class="header">
      <nav class="nav">
        <div class="nav-link"><a href="/WordFindGame/main">이전</a></div>
        <div class="nav-link"><a href="/">홈</a></div>
      </nav>
    </div>
    <div class="container">
      <div id="exp-form">
        <h1>사용 설명서</h1>
        <p><span>1.</span> 난이도를 입력한다.(초성 숫자를 의미)</p>
        <p><span>2.</span> 제한 시간안에 다음 과정을 수행한다.</p>
        <p><span>2. (1)</span> 만약 초성과 틀리다면 행성 1개가 없어진다.</p>
        <p><span>2. (2)</span> 만약 초성과 맞다면 행성 1개가 복원된다.</p>
        <p><span>2. (3)</span> 다른 사람에게 턴을 넘긴다.</p>
        <p><span>3.</span> 제한 시간아네 다음 과정을 수행하지 못했다면?</p>
        <p><span>3. (1)</span> 그 사람이 벌칙을 받는다.</p>
      </div>
    </div>
  </body>
</html>
