<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="../../static/css/WordFindGame/main.css"
      type="text/css"
    />
    <title>Document</title>
    <script
      defer
      type="text/javascript"
      src="../../static/js/WordFindGame/main.js"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="title-box">초성 맞추기<span>게임</span></div>
      <div class="img-box"><img src="../../static/img/우주인12.png" /></div>
      <form id="enter-form">
        <div class="input-box">
          <input
            type="text"
            id="letter"
            name="letter"
            placeholder="난이도 (2 ~ 4)"
            autocomplete="off"
          />
        </div>
        <div class="input-box">
          <input type="submit" id="enter-btn" value="입장하기" />
          <input type="submit" id="exp-btn" value="설명서" />
        </div>
      </form>
    </div>
  </body>
</html>
