<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/reset.css" />
    <link rel="stylesheet" href="../../static/css/liarGame/answer.css" />
    <title>Liar Game</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      window.onload = function answerPageShow() {
        answer = localStorage.getItem("answer");
        let temp_html = `<div class="horse">${answer}</div>
                        <div class="horse-short"></div>
                        <img src="../../static/img/우주인8.png" />`;
        $(".img-box").append(temp_html);
      };
    </script>
  </head>
  <body>
    <div class="answer-background">
      <div class="answer-container">
        <div class="content-box">
          <div class="img-box"></div>
          <div class="btn-box">
            <button onclick="window.location.href='/liarGame/main'">
              Play the game again
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
