<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/reset.css" />
    <link rel="stylesheet" href="../../static/css/liarGame/gameSelect.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="gameSelect-background">
      <div class="gameSelect-container">
        <div class="btnDiv-box">
          <button class="btn0">데이터0</button>
          <button class="btn1">데이터1</button>
        </div>
        <div class="subTitle-box">
          <h2>인원수를 선택해주세요</h2>
        </div>
        <div class="btnDiv-box2">
          <button class="btn2">데이터2</button>
          <button class="btn3">데이터3</button>
          <button class="btn4">데이터4</button>
        </div>
      </div>
    </div>
  </body>
</html>
