<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/reset.css" />
    <link rel="stylesheet" href="../../static/css/liarGame/liarSelect.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="liarSelect-background">
      <div class="liarSelect-container">
        <div class="Title-box">
          <h2>2턴 돌았습니다</h2>
        </div>
        <div class="subTitle-box">
          <h3>라이어를 선택해주세요</h3>
          <h3>선택한 사람이 라이어가 맞다면...?</h3>
        </div>
        <div class="btn-box">
          <button onclick="">Check the answer</button>
        </div>
      </div>
    </div>
  </body>
</html>
