<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/reset.css" />
    <link rel="stylesheet" href="../../static/css/liarGame/main.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="main-background">
      <div class="main-container">
        <div class="title-box">
          <h1>Liar Game</h1>
        </div>
        <div class="img1"><div class="img2"></div></div>
        <div class="btn-box">
          <button onclick="location.href='exp.html'">설명서</button>
          <button>Game Start</button>
        </div>
      </div>
    </div>
  </body>
</html>
