<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/reset.css" />
    <link rel="stylesheet" href="../../static/css/liarGame/notLiar.css" />
    <title>Liar Game</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      window.onload = function notLiarPageShow() {
        num = Number(localStorage.getItem("num")) + 1;
        console.log(num, typeof num);
        answer = localStorage.getItem("answer");
        selectLiar = localStorage.getItem("selectLiar").split(",");
        window.localStorage.setItem("num", num);
        let temp_html = `<div class="horse">${answer}</div>
                          <div class="horse-short"></div>
                          <img src="../../static/img/우주인3.png" />
                        `;
        $(".content").append(temp_html);

        if (num >= selectLiar.length) {
          $(".btn-box").empty();
          $(".btn-box").append(
            `<button onclick="location.href = 'turn?turn=0'">Click Me</button>`
          );
        }
      };
    </script>
  </head>
  <body>
    <div class="notLiar-background">
      <div class="notLiar-container">
        <div class="subTitle-box">
          <h2>당신은 라이어가 아닙니다</h2>
        </div>
        <div class="content"></div>
        <div class="btn-box">
          <button onclick="location.href = 'dark'">Click Me</button>
        </div>
      </div>
    </div>
  </body>
</html>
