<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/reset.css" />
    <link rel="stylesheet" href="../../static/css/liarGame/turn.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="turn-background">
      <div class="turn-container">
        <div class="subTitle-box">
          <h2>O턴 돌았습니다</h2>
        </div>
        <div class="subTitle-box">
          <h3>한명씩 제시어에 대해 설명해주세요</h3>
        </div>
        <div class="btn-box">
          <button onclick="">Click Me</button>
        </div>
      </div>
    </div>
  </body>
</html>
