<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/reset.css" />
    <link rel="stylesheet" href="../../static/css/liarGame/dark.css" />
    <title>6toyProject | 라이어 게임</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      window.onload = function liarSelectPageShow() {
        data = localStorage.getItem("selectLiar").split(",");
        num = localStorage.getItem("num");
        console.log(data[num], typeof num);
        let temp_html = "";
        if (data[num] === "0") {
          temp_html = `<button onclick="location.href='notLiar'">Click Me</button>`;
        } else {
          temp_html = `<button onclick="location.href='liar'">Click Me</button>`;
        }
        $(".btn-box").append(temp_html);
      };
    </script>
  </head>
  <body>
    <div class="dark-background">
      <div class="dark-container">
        <div class="subTitle-box">
          <h2>당신이 라이어인지 확인하세요</h2>
        </div>
        <div class="btn-box"></div>
      </div>
    </div>
  </body>
</html>
